In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set(style='whitegrid')

In [7]:
df = pd.read_csv(r"C:\Users\abdul\movie-ratings-analysis\data\movies.csv")
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
count,1000,1000,1000,899,1000,1000,1000.000000,1000,843.000000,1000,1000,1000,1000,1000,1.000000e+03,831
unique,1000,999,100,16,140,202,NaN,1000,NaN,548,660,841,891,939,NaN,823
top,https://m.media-amazon.com/images/M/MV5BMDFkYT...,Drishyam,2014,U,100 min,Drama,NaN,Two imprisoned men bond over a number of years...,NaN,Alfred Hitchcock,Tom Hanks,Emma Watson,Rupert Grint,Michael Caine,NaN,"4,360,000"
freq,1,2,32,234,23,85,NaN,1,NaN,14,12,7,5,4,NaN,5
mean,NaN,NaN,NaN,NaN,NaN,NaN,7.949300,NaN,77.971530,NaN,NaN,NaN,NaN,NaN,2.736929e+05,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,0.275491,NaN,12.376099,NaN,NaN,NaN,NaN,NaN,3.273727e+05,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,7.600000,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,2.508800e+04,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,7.700000,NaN,70.000000,NaN,NaN,NaN,NaN,NaN,5.552625e+04,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,7.900000,NaN,79.000000,NaN,NaN,NaN,NaN,NaN,1.385485e+05,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,8.100000,NaN,87.000000,NaN,NaN,NaN,NaN,NaN,3.741612e+05,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,9.300000,NaN,100.000000,NaN,NaN,NaN,NaN,NaN,2.343110e+06,NaN

In [15]:
df.drop_duplicates(inplace=True)

# Year column
df['year'] = df['Released_Year']

# Genre - first genre
df['genre'] = df['Genre'].str.split(',').str[0]

# Convert IMDb rating to numeric
df['rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')

# Drop missing rating rows
df = df.dropna(subset=['rating'])

In [16]:
sns.histplot(df['rating'], bins=20)
plt.title("Movie Ratings Distribution")

Text(0.5, 1.0, 'Movie Ratings Distribution')

In [17]:
df.groupby('genre')['rating'].mean().sort_values(ascending=False).plot(kind='bar')
plt.title("Average Rating by Genre")

Text(0.5, 1.0, 'Average Rating by Genre')

In [19]:
df['Runtime'] = df['Runtime'].str.replace(' min', '').astype(int)

In [21]:
top_movies = df[df['No_of_Votes'] > 5000].sort_values(by='rating', ascending=False).head(10)
top_movies[['Series_Title','rating','No_of_Votes']]

                                         Series_Title  rating  No_of_Votes
0                            The Shawshank Redemption     9.3      2343110
1                                       The Godfather     9.2      1620367
2                                     The Dark Knight     9.0      2303232
3                              The Godfather: Part II     9.0      1129952
4                                        12 Angry Men     9.0       689845
5       The Lord of the Rings: The Return of the King     8.9      1642758
6                                        Pulp Fiction     8.9      1826188
7                                    Schindler's List     8.9      1213505
10  The Lord of the Rings: The Fellowship of the Ring     8.8      1661481
11                                       Forrest Gump     8.8      1809221

In [23]:
numeric_df = df.select_dtypes(include=['number'])
sns.heatmap(numeric_df.corr(), annot=True)